<button type="button" (click)="showUploader()" class="btn btn-primary-outline">
  <clr-icon shape="upload-cloud" size="24"></clr-icon>
  นำเข้าข้อมูล
</button>


<clr-wizard #wizard [clrWizardClosable]="false" [clrWizardSize]="'lg'">
  <div class="wizard-title">นำเข้าข้อมูล</div>
  <div class="alert alert-warning alert-sm" *ngIf="isError">
      <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
      <div class="alert-item">
          <span class="alert-text">
              เกิดข้อผิดพลาด ไม่สามารถอัปโหลดไฟล์ได้
          </span>
      </div>
  </div>
  <div class="alert alert-success alert-sm" *ngIf="isSuccess">
      <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
      <div class="alert-item">
          <span class="alert-text">
              นำเข้าข้อมูลเสร็จเรียบร้อยแล้ว จำนวน <strong>{{ totalImported | number }}</strong> รายการ
          </span>
      </div>
  </div>

  <clr-wizard-step [clrWizardStepId]="'step1'">ระบุช่วงวันที่</clr-wizard-step>
  <clr-wizard-step [clrWizardStepId]="'step2'">เลือกไฟล์ที่ต้องการ</clr-wizard-step>

  <clr-wizard-page [clrWizardPageNextDisabled]="!startDate || !endDate">
    <form>
    <section class="form-block">
        <div class="form-group">
            <label for="aForm_1">ตั้งแต่วันที่</label>
            <input type="date" (change)="changeDate()" [(ngModel)]="startDate" placeholder="dd/mm/yyyy" name="txtStart">
        </div>
        <div class="form-group">
            <label for="aForm_2">ถึงวันที่</label>
            <input type="date" (change)="changeDate()" [(ngModel)]="endDate" id="aForm_2" placeholder="dd/mm/yyyy" name="txtEnd">
        </div>
    </section>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <div class="progress-block" *ngIf="uploading">
      <label>Uploading</label>
      <div class="progress loop">
        <progress></progress>
      </div>
        <!--<span>please wait...</span>-->
    </div>
    <div class="drag-n-drop-container" ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}"
      (onFileOver)="fileOverBase($event)">
      <h1>ลากไฟล์วางลงที่นี่</h1>
      <label class="upload-button">
    <input type="file"
           class="hidden"
           ngFileSelect
           [options]="options"
           [events]="inputUploadEvents"
           (beforeUpload)="beforeUpload($event)"
           (onUpload)="handleUpload($event)">
    เลือกไฟล์
  </label>
      </div>
  </clr-wizard-page>
</clr-wizard>