<nav>
  <section class="sidenav-content">
    <!--<a href="javascript: void()" routerLink='/admin/employees' routerLinkActive='active' class="nav-link">
        ข้อมูลพนักงาน
    </a>-->
    <clr-tree-node [clrTreeNodeExpanded]="true">
      ข้อมูลสแกนลายนิ้วมือ
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/attendances' routerLinkActive='active'>
          <clr-icon shape="history"></clr-icon>
          สรุปสแกนลายนิ้วมือ
        </button>
      </clr-tree-node>
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/process' routerLinkActive='active'>
          <clr-icon shape="history"></clr-icon>
          ประมวลผล
        </button>
      </clr-tree-node>
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/import' routerLinkActive='active'>
            <clr-icon shape="import"></clr-icon>
            นำเข้าข้อมูล
          </button>
      </clr-tree-node>
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/initial' routerLinkActive='active'>
                <clr-icon shape="cog"></clr-icon>
                กำหนดข้อมูลเริ่มต้น
            </button>
      </clr-tree-node>
    </clr-tree-node>
    <clr-tree-node [clrTreeNodeExpanded]="true">
      กำหนดค่าใช้งาน
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/position' routerLinkActive='active'>
            <clr-icon shape="angle-double"></clr-icon>
            ข้อมูลตำแหน่ง
          </button>
      </clr-tree-node>
      <clr-tree-node>
        <button class="clr-treenode-link" routerLink='/admin/department' routerLinkActive='active'>
                <clr-icon shape="group"></clr-icon>
                ข้อมูลแผนก
            </button>
      </clr-tree-node>
    </clr-tree-node>
  </section>
</nav>